<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header>
    <h1>DJ System</h1>
    <p>曲リクエストシステム</p>
  </header>

  <section class="send">
    <form method="post" action="/admin/team_create">
      <label name="url_name">URL NAME</label>
      <input type="text" name="url_name">
      <label name="mentor">Mentor</label>
      <input type="text" name="mentor">
      <label name="description">Description</label>
      <input type="text" name="description">
      <input type="submit">
    </form>
  </section>
</body>
</html>
