<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  <title>DJ 404</title>
  <link rel="icon" href="https://dj-system.herokuapp.com/favicon.ico" />
  <link rel="stylesheet" href="https://dj-system.herokuapp.com/css/style.css">
</head>

<body>
  <header>
    <h1>DJ 404</h1>
  </header>
  <section>
    <h2 style="text-align:center">お探しのチームは、見つかりません😭</h2>
  </section>
</body>
</html>
