html,
body,
header,
h1,
h2,
p {
	margin: 0px;
	padding: 0px;
	color: rgba(255, 255, 255, 0.85);
}

body {
	background-color: #232323;
	margin-bottom: 30px;
}

section {
	margin: 0 auto;
	margin-top: 30px;
	max-width: 1600px;
	padding: 0px 25px;
}

p {
	font-size: 13px;
	line-height: 16px;
	text-align: left;
}

a {
	text-decoration: none;
}

.none {
	display: none;
}

input[type="text"],
textarea {
	width: 100%;
	height: 32px;
	background-color: #1f1f1f;
	border: 1px solid rgba(0, 0, 0, 0.15);
	color: #e5e5e5;
	line-height: 1.25;
	font-weight: 400;
	letter-spacing: 0;
	border-radius: 4px;
	box-sizing: border-box;
	outline: none;
	padding-left: 10px;
}

textarea {
	height: 100px;
	padding: 10px;
}

input[type="text"]:focus,
textarea:focus {
	border-color: #ff8b22;
}

input[type="submit"] {
	color: rgba(255, 255, 255, 0.55);
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
	cursor: pointer;
	text-align: left;
	padding: 0px;
}

/* ヘッダー */
header {
	width: 100vw;
	height: 200px;
	background-image: url("../img/dj.jpg");
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header h1 {
	color: #fff;
}

/* admin */
.admin input[type="text"] {
	margin-bottom: 15px;
}

/* 追加済の曲 */
.add_list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.add_list .content {
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-right: 10px;
	background-color: #323232;
	padding: 6px 12px 6px 9px;
	border-radius: 5px;
}

.add_list .content img {
	height: 40px;
	padding-right: 10px;
}

.add_list .content .info {
	padding-right: 15px;
}

.add_list .content .artistName {
	font-size: 12px;
}

/* 検索 */
.search form {
	position: relative;
}

.search input[type="text"] {
	margin: 8px 0;
	padding-left: 40px;
}

.search i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
}

.search input[type="text"]:focus + i {
	color: #ff8b22;
}

/* 結果のテーブル */
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

table tr {
	height: 46px;
	cursor: default;
}

table tr.content:nth-child(even) {
	background-color: #323232;
}

table tr.content:hover {
	background-color: #ff8b22;
	border-radius: 5px;
}

table tr.head th p {
	padding-left: 7px;
	font-size: 12px;
	line-height: 15px;
	color: rgba(255, 255, 255, 0.55);
}

table tr td {
	padding: 3px 0px 3px 7px;
}

table tr td img {
	width: 40px;
	height: 40px;
	padding: 3px 20px 3px 7px;
}

table tr td.song {
	display: flex;
	align-items: center;
}

table .phone_on {
	display: none;
}

table a p {
	padding-right: 10px;
}

@media (max-width: 767px) {
	table {
		width: calc(100vw - 50px);
	}
	table .phone_on {
		display: block;
	}
	table .phone_off {
		display: none;
	}
	table p span {
		margin-top: 2px;
		color: rgba(255, 255, 255, 0.55);
	}
}

/* +ボタン */
.search input[type="submit"] {
	width: 100%;
	font-size: 20px;
}

/* 送信確定ボタン */
.next input[type="submit"] {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: inline-block;
	padding: 10px 20px !important;
	border-radius: 25px;
	color: #fff;
	background-image: linear-gradient(45deg, #ffc107 0%, #ff8b22 100%);
	transition: 0.4s;
	font-size: 15px;
}

.next input[type="submit"]:hover,
.send input[type="submit"]:hover {
	background-image: linear-gradient(45deg, #ffc107 0%, #f76a35 100%);
}

/* 送信 */
.send input[type="submit"] {
	width: 100%;
	color: #fff;
	background-image: linear-gradient(45deg, #ffc107 0%, #ff8b22 100%);
	transition: 0.4s;
	font-size: 15px;
	border-radius: 5px;
	text-align: center;
	padding: 10px 0px;
}
